<div class="game-overlay">
  <app-player-hud [positionPlayer]="true"></app-player-hud>

  <app-player-hud [positionPlayer]="false"></app-player-hud>

  <app-pokemon-detail 
  [positionPlayer]="true"
  [pokemonImageUrl]="gameState.players.player.activePokemon.pokemonImg"
  >
  </app-pokemon-detail>

  <app-game
  (waitingForPlayerActionEmitter)="getWaitingForPlayerEmitter($event)"
  ></app-game>

  <app-pokemon-detail 
  [positionPlayer]="false"
  [pokemonImageUrl]="gameState.players.opponent.activePokemon.pokemonImg"
  [waitingForPlayerActionEmitter]="waitingForPlayerActionEmitter"
  >
  </app-pokemon-detail>

  <app-hand
    [cards]="gameState.players.player.hand.cards"
    (playedCard)="playedCard($event)"
  ></app-hand>
</div>
