.pokemon-detail{
    width: 380px;
    height: 380px;
    border: 3px solid rgb(0, 0, 0);
    border-radius: 5px;
    padding: 10px;
    position: absolute;
    top: 162px;
    right: 0;
}
.player{
    position: absolute;
    left: 0;
}