.pokemon-detail{
    width: 390px;
    height: 380px;
    border: 1px solid red;
    padding: 10px;
    position: absolute;
    top: 150px;
    right: 0;
}
.player{
    position: absolute;
    top: 150px;
    left: 0;
}