.battle-area {
    position: fixed;
    width: 325px;
    border: 1px solid black;
    border-radius: 5px;
    top: 50%;
    left: 50%;
    /* bring your own prefixes */
    transform: translate(-50%, -50%);
    text-align: center;
    padding: 5px;
}
.scoreboard{
  text-align: center;
  width: 282px;
  margin: 10px;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid black;
}
.active-pokemon{

  display: inline-block;
}
