<div class="player" [class.first]="firstPlayer" [class.second]="!firstPlayer">
  <div>
    <img [src]="imageUrl">
  </div>

  <div>
    <button mat-flat-button (click)="battle('health')" [disableRipple]="!firstPlayer">Health:
      {{pokeData.health}}</button>
    <button mat-flat-button (click)="battle('speed')" [disableRipple]="!firstPlayer">Speed:
      {{pokeData.speed}}</button>
    <button mat-flat-button (click)="battle('attack')" [disableRipple]="!firstPlayer">Attack:
      {{pokeData.attack}}</button>
    <button mat-flat-button (click)="battle('defense')" [disableRipple]="!firstPlayer">Defense:
      {{pokeData.defense}}</button>
  </div>
</div>