<div class="player" [class.first]="firstPlayer" [class.second]="!firstPlayer">
  <div class="pokemon-image">
    <img [src]="gamePokeData.images.pokemonGif" />
  </div>

  <div>
    <button
      mat-flat-button
      [class]="healthStatChanged"
      [disableRipple]="!firstPlayer"
      [disabled]="disableButtons"
      (click)="battle('health')"
    >
      Health: {{ gamePokeData.health }}
    </button>
    <button
      [class] = "speedStatChanged"
      mat-flat-button
      [disableRipple]="!firstPlayer"
      [disabled]="disableButtons"
      (click)="battle('speed')"
    >
      Speed: {{ gamePokeData.speed }}
    </button>
    <button
      [class] = "attackStatChanged"
      mat-flat-button
      [disableRipple]="!firstPlayer"
      [disabled]="disableButtons"
      (click)="battle('attack')"
    >
      Attack: {{ gamePokeData.attack }}
    </button>
    <button
      [class] = "defenseStatChanged"
      mat-flat-button
      [disableRipple]="!firstPlayer"
      [disabled]="disableButtons"
      (click)="battle('defense')"
    >
      Defense: {{ gamePokeData.defense }}
    </button>
  </div>
</div>
