<div *ngIf="loaded" [class.firstPlayer]="firstPlayer">

    <div >
      <img [src]="imageUrl" alt="pokemon">
    </div>
  
    <div>
      <button mat-flat-button [disableRipple]="!firstPlayer">Health: {{pokeData.health}}</button><br/>
      <button mat-flat-button [disableRipple]="!firstPlayer">Speed: {{pokeData.speed}}</button><br/>
      <button mat-flat-button [disableRipple]="!firstPlayer">Attack: {{pokeData.attack}}</button><br/>
      <button mat-flat-button [disableRipple]="!firstPlayer">Defense: {{pokeData.defense}}</button>
    </div>

</div>