.player {
  text-align: center;
  width: 140px;
  height: 300px;
  margin: 10px;
  border-radius: 5px;

  .mat-flat-button {
    margin: 2px;
    background-color: rgba(255, 255, 255, 0.322);
    cursor: pointer;

    &.default {
      color: black;
    }
    &.increased {
      color: rgb(40, 172, 40);
      animation: pulsate 1s ease-in-out;
    }
    &.decreased {
      color: red;
      animation: pulsate 1s ease-in-out;
    }
  }

  button {
    width: 100%;
    cursor: default;

    &:disabled {
      color: black;
      &:hover {
        color: black;
        cursor: default;
      }
    }
  }
}
.first {
  img {
    transform: scaleX(-1) scale(1.5) translate(40%, 0); 
  }
}
.second {
  img {
    transform: scale(1.5) translate(-40%, 0); 
  }
}
.pokemon-image {
  position: relative;
  height: 144px;
  width: 144px;
  img {
    text-align: center;
    width: auto;
    height: auto;
    position: absolute;
    bottom: 30px;
  }
}

@keyframes pulsate {
  0% { 
      transform: scale(1);
  }
  50% { 
      transform: scale(1.2);
  }
  100% { 
    transform: scale(1);
  }
}
